#app {
  display: grid;
  grid-template-rows: 80px 1fr;
  height: 100vh;
}

.wrapper {
  padding: $md-spacing;
  background: $secondary;
  color: $primary;
}

.wrapper--3col {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: max-content;
  grid-template-areas:
    "heading heading heading"
    "left main right";
}

.wrapper--3col__top-row {
  grid-area: heading;
  display: flex;
  align-items: center;
}

/* ==========================================================================
   Textelements
   ========================================================================== */

h1,
h2,
h3,
h4,
.u-h1,
.u-h2,
.u-h3,
.u-h4 {
  font-weight: bold;
}

h1,
.u-h1 {
  @include fontSizeREM(26);
  line-height: 1.25;
  margin-bottom: 20px;

  @include respondMin($retina) {
    @include fontSizeREM(30);
  }
}

h2,
.u-h2 {
  @include fontSizeREM(22);
  line-height: 1.33;
  margin-bottom: 20px;

  @include respondMin($retina) {
    @include fontSizeREM(26);
  }
}

h3,
.u-h3 {
  @include fontSizeREM(20);
  line-height: 1.33;
  margin-bottom: 20px;

  @include respondMin($retina) {
    @include fontSizeREM(24);
  }
}

h4,
.u-h4 {
  @include fontSizeREM(18);
  line-height: 1.36;
  margin-bottom: 15px;
}

h5,
.u-h5 {
  @include fontSizeREM(16);
  line-height: 1.4;
}

h6,
.u-h6 {
  @include fontSizeREM(16);
  line-height: 1.43;
}

p {
  margin-bottom: $sm-spacing;
}

small,
.u-small,
small a,
.u-small .u-link {
  @include fontSizeREM(14);
  line-height: 1.3;
}

small,
.u-small {
  margin-bottom: $md-spacing;
}

a {
  transition: all 150ms ease;
  color: $primary;
}

strong,
b {
  font-weight: bold;
}

address {
  font-style: normal;
}
